WebAPI/WebApplication1/obj/
WebAPI/WebAPI/obj/
WebAPIMiddleWare/WebAPIMiddleWare/obj/
WebAPI/LoggerService/obj/
WebAPI/WebAPI/bin/
WebAPI/LoggerService/bin/
WebAPI/Contracts/obj/
WebAPI/.vs/
WebAPI/Repository/obj/
WebAPI/Repository/bin/
WebAPI/Entities/obj/
WebAPI/Entities/bin/
